<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_list_object.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_object.name }}</h1>
            <a href="{% url 'todo_list_update' todo_list_object.id %}">Edit</a>
            <p><a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a></p>
            <h2>Task</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_list_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo_list.id %}">{{ todo_list.task }}</a></td>
                        <td>{{ todo_list.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>